.page {
  background-color: #F1F2EB;
  height: 100vh;
}

.sidebar {
  color: #DBDAD3;
  background-color: #4A4A48;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 105%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar-item:hover{
  color: #F1F2EB;
  cursor: pointer;
}

.sidebar-item {
  color: #DBDAD3;
}

.sidebar-item > a:active {
  color: #566246;
}