a:active {
  color: #566246;
}

.content {
  font-family: 'Open Sans', sans-serif;
}

.icon {
  background-color: #4A4A48;
  border: none;
  padding: 0;
  color: #DBDAD3;
}

.navbar-item {
  color: #DBDAD3;
}

.navbar {
  background-color: #4A4A48;
}

.page {
  background-color: #F1F2EB;
  max-height: 100vh;
}

.profile {
  background-color: #4A4A48;
  height:100vh;
}

.sidebar {
  color: #DBDAD3;
  background-color: #4A4A48;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar-item:hover {
  color: #F1F2EB;
  cursor: pointer;
}

.sidebar-item {
  color: #DBDAD3;
}

.subtitle{
  font-family: 'Playfair Display', serif;
  color: #556246;
  font-size: 120%;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 230%;
  color: #556246;
}

ul li span{
  color: #556246;
  font-weight: bold;
}