.page {
  background-color: #F1F2EB;
  height: 100vh;
}

.sidebar {
  color: #DBDAD3;
  background-color: #4A4A48;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  background-color: #4A4A48;
}

.sidebar-item:hover {
  color: #F1F2EB;
  cursor: pointer;
}

.sidebar-item {
  color: #DBDAD3;
}

.navbar-item {
  color: #DBDAD3;
}

a:active {
  color: #566246;
}

.icon {
  background-color: #4A4A48;
  border: none;
  padding: 0;
  color: #DBDAD3;
}